<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/pico.min.css">
    <link rel="icon" type="image/png" href="/images/icon.png" />
    <title>API UPGL</title>
    <style>
        h1{
            text-align: center;
        }
        ul li{
            list-style-type: none
        }
    </style>
</head>
<body>
    <h1>
        Bienvenido a la API de UPGL
    </h1>
    <article>
        <h3>Endpoints disponibles</h3>
        <details>
            <summary role="button" class="outline"><b>Python</b></summary>
            <ul>
                <li>
                    <strong>
                        <i>[ GET ]</i> -
                    </strong>
                    <strong>
                        /API/python
                    </strong>
                    : Índice de hipervínculos de la clases del curso de Python
                </li>
                <li>
                    <strong>
                        <i>[ GET ]</i> - 
                    </strong>
                    <strong>
                        /API/python/class
                    </strong>
                    : Información de todas las clases del curso de Python
                </li>
                <li>
                    <strong>
                        <i>[ GET ]</i> - 
                    </strong>
                    <strong>
                        /API/python/class/:classID
                    </strong>
                    : Información de una clase del curso de Python
                </li>
                <li>
                    <strong>
                        <i>[ GET ]</i> - 
                    </strong>
                    <strong>
                        /API/python/class/:classID/:topicID
                    </strong>
                    : Información de un tema de una clase del curso de Python
                </li>
                <li>
                    <strong>
                        <i>[ GET ]</i> - 
                    </strong>
                    <strong>
                        /API/python/:indexID
                    </strong>
                    : Índice de hipervínculos de una clase del curso de Python
                </li>
                <li>
                    <strong>
                        <i>[ POST ]</i> - 
                    </strong>
                    <strong>
                        /API/python/newClass
                    </strong>
                    : Endpoint para la creación de una nueva clase del curso de Python
                </li>
                <li>
                    <strong>
                        <i>[ POST ]</i> - 
                    </strong>
                    <strong>
                        /API/python/newTopic/:classID
                    </strong>
                    : Endpoint para la creación de un nuevo tema de una clase del curso de Python
                </li>
            </ul>
        </details>
        <details>
            <summary role="button" class="outline"><b>IA</b></summary>
            <ul>
                <li>
                    <strong>
                        <i>[ GET ]</i> -
                    </strong>
                    <strong>
                        /API/ia
                    </strong>
                    : Índice de hipervínculos de la clases del curso de IA
                </li>
                <li>
                    <strong>
                        <i>[ GET ]</i> - 
                    </strong>
                    <strong>
                        /API/ia/class
                    </strong>
                    : Información de todas las clases del curso de IA
                </li>
                <li>
                    <strong>
                        <i>[ GET ]</i> - 
                    </strong>
                    <strong>
                        /API/ia/class/:classID
                    </strong>
                    : Información de una clase del curso de IA
                </li>
                <li>
                    <strong>
                        <i>[ GET ]</i> - 
                    </strong>
                    <strong>
                        /API/ia/class/:classID/:topicID
                    </strong>
                    : Información de un tema de una clase del curso de IA
                </li>
                <li>
                    <strong>
                        <i>[ GET ]</i> - 
                    </strong>
                    <strong>
                        /API/ia/:indexID
                    </strong>
                    : Índice de hipervínculos de una clase del curso de IA
                </li>
                <li>
                    <strong>
                        <i>[ POST ]</i> - 
                    </strong>
                    <strong>
                        /API/ia/newClass
                    </strong>
                    : Endpoint para la creación de una nueva clase del curso de IA
                </li>
                <li>
                    <strong>
                        <i>[ POST ]</i> - 
                    </strong>
                    <strong>
                        /API/ia/newTopic/:classID
                    </strong>
                    : Endpoint para la creación de un nuevo tema de una clase del curso de IA
                </li>
            </ul>
        </details>
    </article>
</body>
</html>