<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/pico.min.css">
    <link rel="icon" type="image/png" href="/images/icon.png" />
    <title>API UPGL</title>
    <style>
        h1{
            text-align: center;
        }
        ul li{
            list-style-type: none
        }
    </style>
</head>
<body>
    <h1>
        Bienvenido a la API de UPGL
    </h1>
    <article>

        <H3>Lista de cursos: (/:courseID)</H3>

        <ul>
            <li>
                <strong>
                    Curso de Python: 
                </strong>
                (PYTHON)
            </li>
            <li>
                <strong>
                    Curso de IA: 
                </strong>
                (IA)
            </li>
        </ul>

    </article>

    <article>

        <h3>Endpoints disponibles</h3>

        <ul>
            <li>
                <strong>
                    <i>[ GET ]</i> - 
                </strong>
                <strong>
                    /API/course/index
                </strong>
                : : Información de todos los cursos
            </li>
            <li>
                <strong>
                    <i>[ GET ]</i> -
                </strong>
                <strong>
                    /API/course/:courseID
                </strong>
                : Índice de hipervínculos de la clases del curso seleccionado
            </li>
            <li>
                <strong>
                    <i>[ GET ]</i> - 
                </strong>
                <strong>
                    /API/course/:courseID/class
                </strong>
                : Información de todas las clases del curso seleccionado
            </li>
            <li>
                <strong>
                    <i>[ GET ]</i> - 
                </strong>
                <strong>
                    /API/course/:courseID/class/:classID
                </strong>
                : Información de una clase del curso seleccionado
            </li>
            <li>
                <strong>
                    <i>[ GET ]</i> - 
                </strong>
                <strong>
                    /API/course/:courseID/class/:classID/:topicID
                </strong>
                : Información de un tema de una clase del curso seleccionado
            </li>
            <li>
                <strong>
                    <i>[ GET ]</i> - 
                </strong>
                <strong>
                    /API/course/:courseID/:indexID
                </strong>
                : Índice de hipervínculos de una clase del curso seleccionado
            </li>
            <li>
                <strong>
                    <i>[ POST ]</i> - 
                </strong>
                <strong>
                    /API/course/:courseID/newClass
                </strong>
                : Endpoint para la creación de una nueva clase del curso seleccionado
            </li>
            <li>
                <strong>
                    <i>[ POST ]</i> - 
                </strong>
                <strong>
                    /API/course/:courseID/newTopic/:classID
                </strong>
                : Endpoint para la creación de un nuevo tema de una clase del curso seleccionado
            </li>
        </ul>

    </article>
</body>
</html>